<div class="add-edit-modal">
<h1 mat-dialog-title>Create Post</h1>
<div mat-dialog-content>
  
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Placeholder" [(ngModel)]='title'>

    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Placeholder" [(ngModel)]='description'>

    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select  [(ngModel)]='category'>
        <mat-option *ngFor='let category of categories' value="option">{{category}}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Url of the Image</mat-label>
      <input value="https://source.unsplash.com/random" matInput placeholder="Placeholder" [(ngModel)]='image'>

    </mat-form-field>
  </p>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button (click)="onAddPost" mat-button class="mat-flat-button mat-primary" color="primary" cdkFocusInitial>Ok</button>

</div>
</div>
<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->